.Icon{
    width: 20px;
    height: 20px;
}

.LeftText{
    text-align: left;
    margin-left: 5%;
}

.RightText{
    text-align: right;
    margin-right: 5%;
}

.LeftIcon{
    width: 20px;
    height: 20px;
    margin-left: 2%;
}


.RightIcon{
    width: 20px;
    height: 20px;
    margin-right: 2%;
}

.DataHolder{
    background: orange;
    top: 50px;
}

.RoundInput{
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}

.LoginButton{
    background: forestgreen;
}

.SpecialText{
    color: orange;
}