*{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: sans-serif,Cambria;
    outline: none;
    border: none;
    color: white;  
    text-decoration: none;
    list-style: none; 
}

body{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

h1{
    position: relative;
    margin: auto;
}

h2{
    position: relative;
    margin: auto;
}

h3{
    position: relative;
    margin: auto;
}

h4{
    position: relative;
    margin: auto;
}

h5{
    position: relative;
    margin: auto;
}

h6{
    position: relative;
    margin: auto;
}

p{
    position: relative;
    margin: auto;
}

header{
    position: absolute;
    width: 100%;
    height: 50px;
    background: #33333350;
    display: inline-flex;
    margin: auto;
    left: 0;
    top: 0;
}

footer{
    position: absolute;
    width: 100%;
    height: 50px;
    background: #33333350;
    display: inline-flex;
    margin: auto;
    left: 0;
    bottom: 0;
}

img{
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}