.Holder{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    background: black;
}

.InlineDiv{
    position: relative;
    width: 95%;
    height: 500px;
    background: transparent;
    margin: 2%;
    display: inline-flex;
    overflow-y: hidden;
    overflow-x: auto;
}

.DataHolder{
    position: relative;
    height: 90%;
    width: 70%;
    background: transparent;
    margin: 2%;
    flex-shrink: 0;
    display: block;
}


.VistButton{
    width: 90%;
    height: 50px;
    background: forestgreen;
    margin: 5%;
    left: 0;
    display: inline-flex;
    text-align: center;
}

.ImgHolder{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    border: 1px solid #0000ff50;
}

#VB{
    position: absolute;
    bottom: 10px;
    padding: 0;
    border-radius: 10px;
    background: forestgreen;
}


.Name{
    position: absolute;
    color: black;
    font-size: 25px;
    background: whitesmoke;
    text-align: center;
    padding: 5%;
    margin: 0;
    border-radius: 0px 10px 10px 0px;
}

.NameHolder{
    text-align: center;
    padding: 0;
    margin: auto;
}

.Rights{
    text-align: center;
    color: forestgreen;
}